.parent{
    width: 100vw;
    height: 100vh;
}
.example {
    width: 100vw;
    height: 20%;
    padding: 20px;
    margin: 10px;
    color: white;
    display: block;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .example {background: #5fd0e5;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {
    .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
}

